<box [style]="{ flexDirection: 'column' }">
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'flex-start', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] flex-start</text>
    </box>
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'flex-end', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] flex-end</text>
    </box>
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'center', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] center</text>
    </box>
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'space-around', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] space-around</text>
    </box>
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'space-between', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] space-between</text>
    </box>
    <box>
        <text>[</text>
        <box [style]="{ justifyContent: 'space-evenly', width: 20, height: 1 }">
            <text>X</text>
            <text>Y</text>
        </box>
        <text>] space-evenly</text>
    </box>
</box>
