<box [style]="{ flexDirection: 'column', padding: 2 }">
    <box>
        <box [style]="{ borderStyle: 'single', marginRight: 2 }">
            <text>single</text>
        </box>
        <box [style]="{ borderStyle: 'double', marginRight: 2 }">
            <text>double</text>
        </box>
        <box [style]="{ borderStyle: 'round', marginRight: 2 }">
            <text>round</text>
        </box>
        <box [style]="{ borderStyle: 'bold' }">
            <text>bold</text>
        </box>
    </box>
    <box [style]="{ marginTop: 1 }">
        <box [style]="{ borderStyle: 'singleDouble', marginRight: 2 }">
            <text>singleDouble</text>
        </box>
        <box [style]="{ borderStyle: 'doubleSingle', marginRight: 2 }">
            <text>doubleSingle</text>
        </box>
        <box [style]="{ borderStyle: 'classic' }">
            <text>classic</text>
        </box>
    </box>
</box>
